/*
######################
    Footer
######################
*/
.footer {
    display: flex;
    justify-content: space-between;
    background: $footer-bg;
    color: $font-color-white;
    font-size: $font-size-mini;
    height: $footer-height;
    padding: 0 9px;
    &Item {
        align-self: center;
    }
}


/*
######################
    Responsive
######################
*/
@media only screen and (max-width: $site-desktop-width) {

}

@media only screen and (max-width: $site-tablet-width) {
    
}

@media only screen and (max-width: $site-mobile-width) {
    .footer {
        height: 120px;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 18px 0;
    }
}