$padding-header: 38px;
$li-spacing: 28px;

.header {
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    background: $header-bg;
    &Logo {
        padding-left: $padding-header;
        & img {
            @include vertical-align('relative', '-50%');
            cursor: url('../../assets/icons/hand_pointer.png'), all-scroll;
        }
    }
    &Navigation {
        padding-right: calc(#{$padding-header} - #{$li-spacing});
        & ul {
            line-height: $header-height;
            color: $font-color-white;
            display: inline-flex;
            & li {
                z-index: 9;
                & a,
                & span {
                    color: $font-color-white;
                    display: inline-block;
                    padding: 0 $li-spacing;
                    &:hover {
                        background: $header-link-hover;
                        cursor: url('../../assets/icons/hand_pointer.png'), all-scroll;
                    }
                }
                &:nth-child(2) {
                    position: relative;
                    & ul {
                        display: none;
                        background: $submenu-bg;
                        font-size: $font-size-small;
                        position: absolute;
                        right: 0;
                        padding: 13px 0;
                        & li {
                            line-height: 36px;
                            & a {
                                width: 200px;
                                text-align: right;
                            }
                        }
                    }
                    &:hover ul {
                        display: block;
                    }
                }
            }
        }
    }
}