$font-color:            #747474;   
$font-color-darker:     #4a4a4a;
$font-color-white:      #fff;
$header-bg:             #00a1d1;
$header-link-hover:     #008ab3;
$content-bg:            #fff;
$logo-bg:               #fff;
$slider-bg:             rgb(74, 73, 74);
$submenu-bg:            #333333;
$link-article:          #00a1d1;
$load-btn:              #b0b0b0;
$load-btn-focus:        #4a4a4a;
$form-bg:               #e9e9e9;
$field-border:          #00a1d1;
$submit-btn:            #00a1d1;
$footer-bg:             #4a4a4a;
$dots-bg:               #fff;
$dots-active-bg:        #008ab3;
$scrollbar:             #00a1d1;
$scrollbar-track:       #F5F5F5;
$mobile-nav-bg:         rgb(51, 51, 51);