$font-main:							        'Roboto-Regular', "Arial", sans-serif !default;
$font-main-medium:							'Roboto-Medium', "Arial", sans-serif !default;
$font-main-bold:							'Roboto-Bold', "Arial", sans-serif !default;
$font-main-black:							'Roboto-Black', "Arial", sans-serif !default;

$font-size-base:							22px !default;
$font-size-extra-large:				        50px !default;
$font-size-large:							40px !default;
$font-size-medium:							30px !default;
$font-size-small:							18px !default;
$font-size-mini:							16px !default;

$header-height:                             75px;
$footer-height:                             70px;

$site-mobile-width:                         640px !default;
$site-tablet-width:         			    768px !default;
$site-desktop-width:         			    1024px !default;
