.button {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    color: $font-color-white;
    font-size: $font-size-base;
    border-radius: 4px;
    cursor: url('../../assets/icons/hand_pointer.png'), pointer;
}

@mixin dots {
    border-radius: 50%;
    background: $dots-bg;
    width: $slider-dots-size;
    height: $slider-dots-size;
    cursor: url('../../assets/icons/hand_pointer.png'), pointer;
    &:before {
        font-size: 0px;
        width: $slider-dots-size;
        height: $slider-dots-size;
    }
}

@mixin load-articles {
    @extend .button;
    height: 60px;
    width: 320px;
    background: $load-btn;
    font-family: $font-main-medium;
}

@mixin submit {
    @extend .button;
    height: 80px;
    width: 100%;
    background: $submit-btn;
    font-family: $font-main-bold;
}